<!DOCTYPE HTML>
<html>

<head>
  <title>BOOKEANDO</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/style/style.css" />
</head>
<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">BOOKEANDO<span class="logo_colour"></span></a></h1>
          <h2>Buscador de libros</h2>
        </div>
      </div>
      
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Enlaces de interés</h3>
            <ul>
              <li><a href="http://andalucia.ebiblio.es/opac/?locale=es#indice">eBiblio Andalucía</a></li>
              <li><a href="http://www.lecturalia.com/portada/libros">Novedades sobre libros</a></li>
              <li><a href="http://www.fantifica.com/">Comunidad de amantes de la lectura y  el cine</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
       {%block content%}{%endblock%}
	     {%block mostrar%}{%endblock%}
       {%block coleccion%}{%endblock%}
       {%block detalles%}{%endblock%}
       {%block contacto%}{%endblock%}
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="/">Inicio</a> | <a href="/mi_coleccion">Mi coleccion</a> | <a href="/contact.html">Contacto</a></p>
      <p>Copyright &copy; simplestyle_6 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Free CSS Templates</a></p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>

