{%extends "base.html"%}
{%block detalles%}


<ul>
	<a href="{{datos['volumeInfo']['previewLink']}}">Muestra del libro</a>
	<a href="{{datos['saleInfo']['buyLink']}}">Enlace de compra</a>
</ul>

<p>{{datos["volumeInfo"]["title"]}}</p>

{% if datos["volumeInfo"]['imageLinks'] %}
<img src="{{datos['volumeInfo']['imageLinks']['small']}}" alt="Imagen" />
 {% else %}
 <img src="static/style/notfound.jpg" alt="Imagen"/>
{% endif %}


{% for j in datos["volumeInfo"]["authors"] %}<p>{{j}}</p>{%endfor%}

<p>{{datos["volumeInfo"]['description']|e}}</p>

<p>{{datos["volumeInfo"]["categories"][0]}}</p>

<p>{{datos['volumeInfo']['averageRating']}}</p>

<p>{{datos["volumeInfo"]['ratingsCount']}}</p>

<p>{{datos["saleInfo"]["listPrice"]['amount']}}</p>

<p>{{datos["saleInfo"]["listPrice"]['currencyCode']}}</p>


{%endblock%}
