{%extends "base.html"%}
{%block menu%}
<div id="menubar">
  <ul id="menu">
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li class="selected"><a href="/">Inicio</a></li>
    <li> <a href="/mi_coleccion">Mi Colección</a></li>
    <li> <a href="/sugerencias">Sugerencias</a></li>
    <li><a href="/contact.html">Contacto</a></li>
  </ul>
</div>
{%endblock%}

{%block detalles%}


<div>
	<div>
		{% if datos["volumeInfo"]["title"] %}
		<h1><strong>Título: </strong>{{datos["volumeInfo"]["title"]}}</h1>
		{% else %}
		<h1>Sin título</h1>
		{% endif %}
	</div><br>
	
	<div>
		{% for i in l %}
		{% if i['id'] not in lc %}
		<a href="{{url_for('añadir',id_libro=i['id'])}}" class="button alt">[+]Añadir a Mi Colección</a>
		{% else %} 
		<a href="{{url_for('eliminar',id_libro=i['id'])}}" class="button alt">[+]Eliminar</a>
		{% endif %}
		{% endfor %}
	</div><br>

	
	<div>
		{% if datos["volumeInfo"]['imageLinks'] and datos['volumeInfo']['imageLinks']['small'] %}
		<img src="{{datos['volumeInfo']['imageLinks']['small']}}" alt="Imagen" />
		{% elif datos["volumeInfo"]['imageLinks'] and datos['volumeInfo']['imageLinks']['smallThumbnail'] %}
		<img src="{{datos['volumeInfo']['imageLinks']['smallThumbnail']}}" alt="Imagen" />
		{% else %}
		<img src="static/style/notfound.jpg" alt="Imagen"/>
		{% endif %}
	</div>
	
	<div>
		{% if datos["volumeInfo"]['previewLink'] %}
		<a href="{{datos['volumeInfo']['previewLink']}}">Muestra del libro</a>
		{% else %}
		<div>No tiene enlace de muestra</div>
		{% endif %}
		{% if datos['saleInfo']['buyLink'] %}
		<a href="{{datos['saleInfo']['buyLink']}}">Enlace de compra</a>
		{% else %}
		<div><s>Enlace de compra</s></div>
		{% endif %}
	</div>
	
	<div><strong>Autores: </strong></div>

	<div>
		{% if datos['volumeInfo']['authors'] %}
		{% for j in datos['volumeInfo']['authors'] %}<div>{{j}}</div>{%endfor%}
		{% else %}
		<div>No hay autor/a especificado/a</div>
		{% endif %}
	</div><br>

	<div><strong>Información: </strong></div>
	
	<div>
		{% if datos['volumeInfo']['description'] %}
		{% autoescape false %}<p>{{datos['volumeInfo']['description']}}</p>{% endautoescape %}
		{% else %}
		<div>No contiene información</div>
		{% endif %}
	</div>

	<div><strong>Categoría: </strong></div>
	
	<div>
		{% if datos["volumeInfo"]["categories"] %}
		<div>{{datos["volumeInfo"]["categories"][0]}}</div>
		{% else %}
		<div>No tiene establecida una categoría.</div>
		{% endif %}
	
	
		<div><i>Nota Media: </i>{{datos['volumeInfo']['averageRating']}} / 5</div>
		<div><i>Votos:</i>{{datos["volumeInfo"]['ratingsCount']}}</div>
		
		<div><strong>Precio: </strong></div>
		<div>
			{% if datos["saleInfo"]["listPrice"] %}
			<div>{{datos["saleInfo"]["listPrice"]['amount']}}</div>
			{% else %}
			<div>No tiene establecido un precio.</div>
			{% endif %}
	
			{% if datos["saleInfo"]["listPrice"] %}
			<div><strong>{{datos["saleInfo"]["listPrice"]['currencyCode']}}</strong></div>
			{% else %}
			<div>No tiene establecido una divisa.</div>
			{% endif %}
			
		</div>
	</div>
</div>

{%endblock%}
