{%extends "base.html"%}
{%block content%}
<h1>BOOKEANDO</h1>
<form action='/buscar', method='post'>
  Búsqueda por título:<br>
  <input class="search" type="text" name="titulo" value="Introduce título">
  <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/static/style/lupa.png" alt="Search" title="Search" />
  <br>


Búsqueda por autor:<br>
  <input class="search" type="text" name="autor" value="Introduce autor">
  <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/static/style/lupa.png" alt="Search" title="Search" />
  <br>
  
</form> 
{%endblock%}

