<div id="menubar">
  <ul id="menu">
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li class="selected"> <a href="/">Inicio</a></li>
    <li><a href="/mi_coleccion">Mi Colección</a></li>
    <li><a href="/sugerencias">Sugerencias</a></li>
    <li><a href="/contact.html">Contacto</a></li>
  </ul>
</div>

{%extends "base.html"%}
{%block content%}
<h1>BOOKEANDO</h1>
<form action='/buscar', method='post'>
  Inserta búsqueda:<br>
  <input class="search" type="text" placeholder="Introduce título o autor" name="buscar" />
  <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/static/style/lupa.png" alt="Search" title="Search" />
  </br>
</form>
{%endblock%}
