{%extends "base.html"%}
{%block coleccion%}
<h1>Mi Colección</h1>
{% for i in l %}
<div>
	<div>
		<strong>Título:</strong>"{{i['volumeInfo']['title']}}"<a href="{{url_for('eliminar',id_libro=i['id'])}}" class="button alt">[+]Eliminar</a>
	</div>
	<div>  
		{% if i['volumeInfo']['imageLinks'] %} 
		<a href="{{url_for('detalles',id_libro=i['id'])}}"><img src="{{i['volumeInfo']['imageLinks']['smallThumbnail']}}" alt="Miniatura" /></a>
		{% else %} 
		<a href="{{url_for('detalles',id_libro=i['id'])}}"><img src="static/style/notfound.jpg" alt="Miniatura"/></a>
		{% endif %}
	</div>
</div>
{%endfor%}
{%endblock%}
