{%extends "base.html"%}
<div id="menubar">
  <ul id="menu">
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="/">Inicio</a></li>
    <li class="selected"> <a href="/mi_coleccion">Mi Colección</a></li>
    <li> <a href="/sugerencias">Sugerencias</a></li>
    <li><a href="/contact.html">Contacto</a></li>
  </ul>
</div>


{%block coleccion%}
<h1>Mi Colección</h1>
{% for i in l %}
<div>
	<div>
		<strong>Título:</strong> "{{i['volumeInfo']['title']}}" <a href="{{url_for('eliminar',id_libro=i['id'])}}" class="button alt">[+]Eliminar</a>
	</div><br>

	<div>  
		{% if i['volumeInfo']['imageLinks'] %} 
		<a href="{{url_for('detalles',id_libro=i['id'])}}"><img src="{{i['volumeInfo']['imageLinks']['smallThumbnail']}}" alt="Miniatura" /></a><br>
		{% else %} 
		<a href="{{url_for('detalles',id_libro=i['id'])}}"><img src="static/style/notfound.jpg" alt="Miniatura"/></a><br>
		{% endif %}
	</div>
</div>
{%endfor%}
{%endblock%}
