{%extends "base.html"%}
{%block mostrar%}


<div>
	<div>
		<strong>Título:</strong>{{i["volumeInfo"]["title"]}}<a href="{{url_for('añadir',id_libro=i['id'])}}" class="button alt">[+]Añadir</a>
	</div><br>
	
	<div>
		{% for i in l %}
		{% if i['volumeInfo']['imageLinks'] %}
		<a href="{{url_for('detalles',id_libro=i['id'])}}"><img src="{{i['volumeInfo']['imageLinks']['smallThumbnail']}}" alt="Miniatura" /></a>
		{% else %} <a href="{{url_for('detalles',id_libro=i['id'])}}"><img src="static/style/notfound.jpg" alt="Miniatura"/></a>
		{% endif %}
	</div>
	
	
	{% for j in i["volumeInfo"]["authors"] %}<div>{{j}}</div><br>{%endfor%}
	
	{%endfor%}
</div>

<input type="button" onclick=" location.href='https://bookeando.herokuapp.com/' " value="Volver" name="boton" />
{%endblock%}