{%extends "base.html"%}
{%block mostrar%}
{% for i in l %}
{% if i['volumeInfo']['imageLinks'] %}
<a href="/detalle/{{i['id']}}"> 
<img src="{{i['volumeInfo']['imageLinks']['smallThumbnail']}}" alt="Miniatura" />
</a> 
{% else %} <img src="static/style/notfound.jpg" alt="Miniatura"/>
{% endif %}
<p>{{i["volumeInfo"]["title"]}}</p>
{% for j in i["volumeInfo"]["authors"] %}<p>{{j}}</p>{%endfor%}
{%endfor%}

<input type="button" onclick=" location.href='https://bookeando.herokuapp.com/' " value="Volver" name="boton" />
{%endblock%}