<div id="menubar">
  <ul id="menu">
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="/">Inicio</a></li>
    <li><a href="/mi_coleccion">Mi Colección</a></li>
    <li class="selected"> <a href="/sugerencias">Sugerencias</a></li>
    <li><a href="/contact.html">Contacto</a></li>
  </ul>
</div>

{%extends "base.html"%}
{%block sugerencias%}
  <div>
    {% for i in l %}
    <div>
      <strong>Título: </strong>{{i["volumeInfo"]["title"]}} 
    </div><br>
    <div>
      {% if i['volumeInfo']['imageLinks'] %}
      <a href="{{url_for('detalles',id_libro=i['id'])}}"><img src="{{i['volumeInfo']['imageLinks']['smallThumbnail']}}" alt="Miniatura" /></a>
      {% else %} 
      <a href="{{url_for('detalles',id_libro=i['id'])}}"><img src="static/style/notfound.jpg" alt="Miniatura"/></a>
      {% endif %}
    </div><br>
    {%endfor%}
  </div>


{%endblock%}
